.errorContainer {
  display: inline-block;
  background: var(--color-grey-100-alt);
  text-align: center;
  vertical-align: middle;
}

.errorContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
